* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.784);
}

#container {
    width: 950px;
    margin: 0 auto;
    border: 1px solid #000000;
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #257038;
}

#header img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
}

#header img:hover{
    transition: 0.70s;
    transform: rotate(360deg);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
}
#content {
    background-color:#ADD9f4 ;
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: center;
}

#content #intro {
padding-top: 20px;
}
#content #overig {
padding-top: 20px;
}
#content #kennis {
padding-top: 20px;
}
#content #kennis ul {
    padding-left: 15px;
}
#experimental {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 28%, rgba(53,8,110,1) 35%, rgba(50,17,105,1) 44%, rgba(9,121,41,0.6755077030812324) 100%);
    height: 500px;
    padding: 50px;
}
#experimental h2 {
    text-align: center;
}
#footer {
    
    height: 100px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 28%, rgba(53,8,110,1) 35%, rgba(50,17,105,1) 44%, rgba(9,121,41,0.6755077030812324) 100%);
}

#footer ul {
    display: block;
    padding-top: 10px;
}
#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}


